// 全局样式
body {
  color: #333;
}
// 全局分页样式修改
.ant-table-pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  & > li:first-child {
    position: absolute;
    left: 0;
  }
}
// 全局按钮颜色修改
.ant-btn-primary {
  background: #00aaff;
  border-color: #00aaff;
}
// 修改全局表格字体大小+最小宽度
.ant-table {
  min-width: 900px;
  font-size: 12px;
}
// 调整size=small的按钮字体大小
.ant-btn-sm {
  font-size: 12px;
}
// 设置全局表格中操作的dropdown菜单字体大小
.table-dropdown {
  .ant-dropdown-menu-item {
    font-size: 12px;
  }
}
// 文本溢出隐藏--单行
.text-overflow {
  white-space: nowrap; /*超出的空白区域不换行*/
  overflow: hidden; /*超出隐藏*/
  text-overflow: ellipsis; /*文本超出显示省略号*/
}
.text-overflow-many {
  display: -webkit-box; /*将对象转为弹性盒模型展示*/
  -webkit-box-orient: vertical; /*设置弹性盒模型子元素的排列方式*/
  -webkit-line-clamp: 2; /*限制文本行数*/
  overflow: hidden; /*超出隐藏*/
}
// 表单label加红色*
.form-label-before {
  label::before {
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
  }
}
// 表格鼠标进入样式
.ant-table-content {
  .ant-table-row {
    td {
      transition: none;
    }
    &:hover {
      background: #e6f7ff;
    }
  }
}
// 链接样式的按钮
.ant-btn-link {
  padding: 0;
}
